footer{
    padding:0;
    height: auto;
    width: auto;
    overflow: hidden;
    img{
        width: 30px;
        height: 30px;
        gap: 2rem;
    }
    p{
        font-family: 'Roboto';
        color: white;
        font-size: 1rem;
    }
}

.redes-sociales{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.copy{
    padding-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
