header{
    img{
        padding: 10px;
        width: 200px;
        height: auto;
        }
        h1{
            size: 0.5rem;
        }
        button{
            background-color: white;
        }
        a{
            color: white;
            font-family: 'Roboto';
            font-size: 24px;
            font-weight: bolder;
        }
}

.burger-menu{
    background-color: white;
    width: 50px;
}
