.burger-menu{
    background-color: white;
    width: 50px;
}


.invert{
    filter: invert(100%);
}

.banner{
    width: 100%;
    overflow: hidden;
    --bs-gutter-x: 0rem;
    height: auto;
    img{
        object-fit: cover;
        width: 100%;
        height: 600px;
    }
    p{
        font-weight: bold;
    }
}

.tarjetas{
    img{
        width: 100%;
        padding: 2rem;
        padding-bottom: 5rem;
    }
}

.redes-sociales{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.copy{
    padding-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
