@media(max-width:478px){
    .banner{
        img{
            height: 360px;
    }
         }
    section{
        img{
            width: 100%;
        }
    }
    .redes-sociales{
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
}